<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/carousel.css" rel="stylesheet">

    <title>문화페이 - 홈</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">문화페이</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">홈 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sight">관광지</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop">가맹점</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    거래
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/deposit">문화페이 받기</a>
                  <a class="dropdown-item" href="/withdraw">결제하기</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log">이용내역</a>
            </li>
        </ul>
        </div>
    </nav>
    
    <br>
    <div class="container">
        <a class="h1 text-dark" href="/log" style='text-decoration:none;'>
        <div class="jumbotron text-center">
            <div class="h5"><%= user.name %>님의 잔액</div>
            <div class="h2"><%= user.balance %> 개</div>
        </div>
        </a>
    </div>

    <br>
    <div class="container marketing">
        <div class=" text-center mb-3">
            <div class="h3 font-weight-bold">추천 관광지</div>
            <div class="mb-1" style="font-size: small;"><%= user.name %>님의 현재 위치</div>
            <div style="font-size: small;">서울특별시 서대문구 이화여대2길</div>
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4 mt-2">
                <img src=<%= rows[0].S_image %>  class="rounded" width='140' height='140' alt=<%= rows[0].S_name %> >
                <h5><%= rows[0].S_name %></h5>
                <p><a class="btn btn-sm btn-outline-secondary" href="/sight/03" role="button">바로가기 &raquo;</a></p>          
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 mt-3">
                <img src=<%= rows[1].S_image %>  class="rounded" width='140' height='140' alt=<%= rows[1].S_name %> >
                <h5><%= rows[1].S_name %></h5>
                <p><a class="btn btn-sm btn-outline-secondary" href="/sight/02" role="button">바로가기 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 mt-3">
                <img src=<%= rows[2].S_image %> class="rounded" width='140' height='140' alt=<%= rows[2].S_name %>>
                <h5><%= rows[2].S_name %></h5>
                <p><a class="btn btn-sm btn-outline-secondary" href="/sight/01" role="button">바로가기 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</body>
</html>